.container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 5% auto 0 auto;
  padding: 32px;
  max-width: 700px;
}
.containerBottomHeaderInfo{
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin: 8px 0 32px 0;
}
.divIconHeader{
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border: 1px solid #bababa;
  
}
.divIconHeader:hover{
  background-color: #e6e6e6;
  transition: 0.2s ease-in-out;
}
.divHeaderText{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.title {
  color: #373737;
  font-size: 40px;
  line-height: 48px;
}

.question {
  color: #373737;
  font-size: 20px;
  margin: 16px 0 8px 0;
}

.response {
  color: #373737;
  font-size: 16px;
  font-weight: 400;
  margin: 8px 0 16px 0;
  line-height: 30px;
}
.containerTags{
  padding: 8px 24px;
  border: 1px solid #bababa;
  border-radius: 24px;
  display: flex;
  align-items: center;
}
.containerTags:hover{
  background-color: #e6e6e6;
  transition: 0.2s ease-in-out;

}

.icon {
  width: 24px;
  height: 24px;
}

.divider {
  width: 100%;
  background-color: #ffffff;
  height: 1px;
}

.input {
  width: 400px;
  border: #c0c0c0 solid 1px;
  border-radius: 8px;
  margin: 8px 0;
  padding: 16px;
}

.input:hover {
  border: #5f5f5f solid 1px;

}

.form {
  display: flex;
  flex-direction: column;
  margin: 32px 0;

}

.button {
  background-color: #f50057;
  border: none;
  color: white;
  font-weight: 600;
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  height: 50px;
  transition: 0.3s;
  margin: 16px 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.containerHeader{
  display: flex;
  flex-direction: row;
  gap:16px;
  margin: 32px 0 8px 0;
  
}
.subtitleCategory{
  font-size: 14px;
  color: #76022C;
  font-weight: 600;
  margin-right: 16px;
}
.subtitleHeader{
  font-size: 14px;
  color: #626262;
  font-weight: 400;
}
.button:hover {
  background-color: #db024e;
}
.componente {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.componente.aparecer {
  opacity: 1;
  transform: translateY(0);
}
.containerCalculadora {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 100px;
}

.containerInputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.imgPrincipal {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.imgFormula {
  width: 90%;
  height: 100px;
}
.textCilindraje{
  font-size: 32px;
  color:#76022C;
  font-weight: 700;
}
.containerArticulosRelacionados{
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  margin-top: 16px;
}
.containerArticuloRelacionado{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  
}
.containerArticuloRelacionado:hover{
  font-weight: 600;

}
.gridContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  width: 100%;
  max-height: fit-content;
  margin: 32px auto 64px auto;
  justify-content: center;
}
.imgOtroArticulos{
  height: 110px;
  width: 100%;
  object-fit: cover;

}
@media (max-width: 1200px) {
  .gridContainer{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 900px) {
  .gridContainer{
    grid-template-columns: repeat(2, 1fr);
  }
  .imgOtroArticulos{
    height: 140px;
    width: 100%;
    object-fit: cover;
  
  }
}
@media (max-width: 360px) {
  .gridContainer{
    grid-template-columns: repeat(1, 1fr);
    
  }
}
@media (max-width: 700px) {
  .input {
    width: 90%;
  }
  .textCilindraje{
    font-size: 24px;
  }
  .imgFormula {
    width: 100%;
    height: 50px;
  }

  .imgPrincipal {
    width: 100%;
    height: 200px;
  }

  .title {
    font-size: 26px;
    line-height: 32px;
  }

  .container {
    width: 90%;
    padding: 32px 0;
  }

  .question {
    font-size: 16px;
  line-height: 20px;

  }
  .response {
    font-size: 14px;
  line-height: 22px;

  }
  .button {
    width: 100%;
  }

  .containerCalculadora {
    flex-direction: column;
    gap: 64px;
  }

  .containerInputs {
    justify-content: space-between;
    width: 90%;
  }
  .containerBottomHeaderInfo{
    gap: 16px;
  }
  
}