.container{
    width: 50%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
   height: 100vh;
    
}
.container2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b333d;
   height: 100vh;
}
.container3{
    width: 50%;
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container4{
    width: 60%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
    padding:20px;
}
.title2{
    font-size: 30px;
    color:#1b333d;
    line-height: 30px;
    font-weight: 600;
    margin:0
   }
.subtitle{
    font-size: 14px;
    color:#676767;
    line-height: 14px;
    font-weight: 500;
    margin:5px 0;

}
.input{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: #f4f4f4;
    border:none;
    outline: none;
    color:#1b333d;
    padding: 0 10px

}

.input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 30px #f4f4f4 inset !important;
    -webkit-text-fill-color: #1b333d;
}
.input:hover{
    background-color: #d9d9d9;
}
.label{
    font-size: 14px;
    color:#8f8f8f;
    line-height: 14px;
    font-weight: 400;
    margin:0
}
.image{
    width:100%;
     height:90vh
}
.icon{
    width: 40px;
    height: 40px;
}
.button{
    font-size: 16px;
    background-color: #f50057;
    border-radius: 10px;
    padding:10px 20px;
    color:white;
    height: 40px;
    border:none;
    width: 100%;
    max-width: 400px;
  }
    .modal {
        width: 250px;
        height: 170px;
        background: white;
        color: white;
        z-index: 10;
        border-radius: 16px;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
      }
      .darkBG {
        background-color: rgba(0, 0, 0, 0.2);
        width: 100vw;
        height: 100vh;
        z-index: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
      }
      .centered {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
      }

 


      .toggle {
        cursor: pointer;
        display: inline-block;
      }
      
      .toggleSwitch {
        display: inline-block;
        background: #ccc;
        border-radius: 16px;
        width: 58px;
        height: 32px;
        position: relative;
        vertical-align: middle;
        transition: background 0.25s;
      }
      .toggleSwitch:before, .toggleSwitch:after {
        content: "";
      }
      .toggleSwitch:before {
        display: block;
        background: linear-gradient(to bottom, #fff 0%, #eee 100%);
        border-radius: 50%;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
        width: 24px;
        height: 24px;
        position: absolute;
        top: 4px;
        left: 4px;
        transition: left 0.25s;
      }
      .toggle:hover .toggleSwitch:before {
        background: linear-gradient(to bottom, #fff 0%, #fff 100%);
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
      }
      .toggleCheckbox:checked + .toggleSwitch {
        background: #56c080;
      }
      .toggleCheckbox:checked + .toggleSwitch:before {
        left: 30px;
      }
      
      .toggleCheckbox {
        position: absolute;
        visibility: hidden;
      }
      
      .toggleLabel {
        margin-left: 5px;
        position: relative;
        top: 2px;
      }
     
@media (max-width: 600px) {
    .container{
        width: 100%;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
        padding:20px;

    }
    .container2{
        flex-direction: column-reverse;
    background-color:white;
    height: fit-content;

    }
    .container3{
        height: fit-content;
        width: 100%;
    }
    .container4{
        width: 100%;
        margin-top: 50px;

    }
    .image{
        width: 100%;
        height: 400px;
    }
    
}