.container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0% auto 0 auto;
  padding: 32px;
}

.title {
  color: #76022C;
  font-size: 32px;
  margin-top: 8%;
  line-height: 110%;
}

.question {
  color: #373737;
  font-size: 20px;
  margin: 16px;
}

.response {
  color: #373737;
  font-size: 16px;
  font-weight: 400;
  margin: 16px 0;
}

.icon {
  width: 24px;
  height: 24px;
}

.divider {
  width: 100%;
  background-color: #e6e6e6;
  height: 1px;
}

.input {
  width: 400px;
  border: #c0c0c0 solid 1px;
  border-radius: 8px;
  margin: 8px 0;
  padding: 16px;
}

.input:hover {
  border: #5f5f5f solid 1px;

}

.form {
  display: flex;
  flex-direction: column;
  margin: 32px 0;

}

.button {
  background-color: #f50057;
  border: none;
  color: white;
  font-weight: 600;
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  height: 50px;
  transition: 0.3s;
  margin: 16px 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.button2 {
  background-color: #f50057;
  border: none;
  color: white;
  font-weight: 600;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  height: 48px;
  transition: 0.3s;
  margin: 24px 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.gridContainer {
  display: grid;
  column-gap: 16px;
  row-gap: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.button:hover {
  background-color: #db024e;
}

.containerCalculadora {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 100px;
}

.containerInputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.inputsAddInfo {
  border: none;
  outline: none;
  font-size: 14px;
  box-sizing: border-box;
  flex: 1;
}

.imgCilindraje {
  width: 80%;
  height: 300px;
}

.imgFormula {
  width: 90%;
  height: 100px;
}


.button {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #f50057;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  transition: opacity 0.2s, visibility 0.2s;


}

.containerCardRendimiento {
  position: relative;
  background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(245, 0, 87, 1) 0%, rgba(134, 2, 49, 1) 100%);
  border-radius: 16px;
  height: 320px;
  width: 320px;
  box-sizing: border-box;
  padding: 32px 32px 48px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.miniContainerCardRendimiento {
  position: relative;
  background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(245, 0, 87, 1) 0%, rgba(134, 2, 49, 1) 100%);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  max-width: 260px;
}

.tabs {
  margin: 32px 0;
}

.containerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  margin: 64px 0;
  gap: 10%;
}

.containerInput {
  margin: 32px 0 72px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.containerInputs2 {
  width: 50%;
}

.h4 {
  font-size: 16px;
  font-weight: 400;
}

.h3 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 8px;
}

.pSubtitle {
  font-size: 16px;
}

.bigTitle {
  font-size: 48px;
  color: white;
}

.containerAcceso {
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 1000px;
  margin: 150px auto;
  justify-content: center;
  gap: 10%;
}

.titleAccess {
  font-size: 40px;
  line-height: 48px;
}

.imgCard {
  width: 340px;
  height: 260px;
  align-self: center;
}

.containerInputAcceso {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
  border-radius: 10px;
  box-sizing: border-box;
  align-items: center;

}

.containerEmailPass {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
  justify-content: space-between;
}

.containerForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  margin-top: 32px;
  justify-content: space-between;
}

.inputAcceso {
  border: none;
  background-color: #f5f5f5;
  outline: none;
  font-size: 16px;
  width: 100%;
  padding: 12px 24px;
  border-radius: 8px;
}

.inputAcceso::placeholder {
  color: #5c5c5c
}

.inputsEmailPass {
  border: none;
  background-color: #f1f1f1;
  outline: none;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 10px;
  height: 50px;
  box-sizing: border-box;
  width: 100%;
}

.inputAcceso:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
  -webkit-text-fill-color: #1b333d;
}

.inputsEmailPass:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
  -webkit-text-fill-color: #1b333d;
}

.cardServicioHome {
  position: relative;
  margin-bottom: 60px;
  padding: 20px;
  background-color: #FAFAFA;
  border-radius: 16px;
  width: 160px;
  height: 180px;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: 0.3s;
  text-decoration: none;
  color: #373737;
}

.cardServicioNegocio {
  position: relative;
  margin-bottom: 32px;
  margin-right: 16px;
  padding: 20px;
  background-color: white;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  color: #373737;
  border: 1px solid #dddddd !important;
  border-radius: 8px !important;
  width: 140px !important;
  height: 160px !important;
  text-decoration: none;
  color: #373737;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.cardServicioNegocio:hover {
  background-color: #f7f7f7;
}
.slider {
  width: 100%;
  box-sizing: border-box;
}

.cardServicioHome:hover {
  background-color: #373737;
  color: white;
  transform: scale(1.1);
}

.containerPlan {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 32px
}

.containerOnePlan {
  position: relative;
  border: 1px solid #c5c5c5;
  border-radius: 16px;
  flex: 1;
  height: fit-content;
  min-width: 300px;
  padding: 32px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  /* Agregar transición para suavizar el efecto */
}

.tooltipOnePlanMaster {
  background-color: #f50057;
  height: 40px;
  width: 200px;
  border-radius: 32px;
  position: absolute;
  top: -20px;
  /* Colocar en la mitad vertical del contenedor padre */
  right: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerOnePlan:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Efecto de sombra al pasar el mouse */
}

.onePlanList {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.onePlanP {
  font-size: 14px;
  flex: 1;
  font-weight: 500;
}

@media (max-width: 1200px) {
  .containerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 64px 0;

  }
}

.tabs {
  margin: 64px 0;
}

@media (max-width: 1080px) {
  .containerContent {
    gap: 32px;
    align-items: center;
  }

  .titleAccess {
    font-size: 32px;
    line-height: 40px;
  }

  .bigTitle {
    font-size: 40px;
  }

  .container {
    margin-top: 5%;
  }

  .containerAcceso {
    flex-direction: column;
  }
}


@media (max-width: 900px) {
  .containerContent {
    flex-direction: column;
    gap: 32px;
    margin: 16px 0;
  }

  .containerInputAcceso {
    flex-direction: column;
  }

  .containerAcceso {
    width: 90%;
    gap: 64px;
    margin: 80px auto;

  }

  .containerInput {
    margin: 32px 0;
  }

  .containerInputs2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 32px;
    height: fit-content;
  }

  .h4 {
    font-size: 12px;
    font-weight: 400;
  }

  .h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  .pSubtitle {
    font-size: 12px;
  }

  .containerCardRendimiento {
    height: fit-content;
    gap: 32px;
    width: 100%;
  }

  .bigTitle {
    font-size: 32px;
  }
}

@media (max-width: 700px) {
  .input {
    width: 90%;
  }
  .slider {
    padding-left: 20px;
  }
  .titleAccess {
    font-size: 24px;
    line-height: 32px;
  }

  .imgFormula {
    width: 100%;
    height: 50px;
  }

  .containerEmailPass {
    flex-direction: column;
  }

  .imgCilindraje {
    width: 100%;
    height: 200px;
  }

  .imgCard {
    width: 150px;
    height: 230px;
    align-self: center;
    display: none;
  }

  .title {
    color: #76022C;
    font-size: 26px;
    margin-top: 10%;
    margin-bottom: 8px;
  }

  .containerContent {
    flex-direction: column;
  }

  .container {
    width: 90%;
    padding: 32px 0;
  }

  .question {
    font-size: 16px;
  }



  .containerCalculadora {
    flex-direction: column;
    gap: 64px;
  }

  .containerInputs {
    justify-content: space-between;
    width: 90%;
  }
}

@media (max-width: 370px) {
  .cardServicioHome {
    width: 100%;

  }
}