* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: '';
  box-sizing: border-box;
  
}
p{
  font-size: 16px;
  color:#434146;
  line-height: 24px;
}
input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Color de fondo principal */

  background: white;
  background-image: radial-gradient(rgb(197, 197, 197) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
}
