.container{
    width: 70%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin:90px auto;
    height: 30vh;
}
/* backgroundColor:'#1b333d', height:'500px',display:'flex',gap:'50px', flexDirection:'row', alignItems:'center', justifyContent:'center' */
.container2{
  background-color: #1b333d;
  height: 400px;
  display: flex;
  gap:50px;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
.title{
  font-size: 30px;
  font-weight: 400;
  color:white;
}
.subtitle{
  font-size: 18px;
  font-weight: 300;
  color:gray;
   

}
.subtitleWhite{
  font-size: 18px;
  font-weight: 300;
  color:gray
}
.image{
  width: 450px;
  height: 350px;
}
.image2{
  width: 100%;
  height: 100%;
}
@media (max-width: 600px) {
    .container {
      width: 100%;
      margin:0;
      flex-direction: column;
      padding:10px;
  text-align: center;
      justify-content: end;
    }
    .container2{
      gap: 0;
      flex-direction: column;
      padding:10px;
  text-align: center;
      height: 100%;

    }
    .image{
      width: 90%;
      height: 250px;
    }
    .image2{
      width: 90%;
      height: 250px;
    }
    .title{
      font-size: 22px;
      margin-bottom: 20px;
      margin-top: 80px;
    }
    .subtitleWhite{
      font-size: 14px;
     

    }
  }