.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 90%;
    padding-top: 20px;
    padding-left: 50px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50 ease;
    box-sizing: border-box;
    height: fit-content;
    /* background: #f50057; */
    background: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.navDiv {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    margin: 0 auto;
}

.headerScrolled {
    background: #f50057;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 8%;
    transition: all .50 ease;
    box-sizing: border-box;
    /* background: #f50057; */
}

.header2 {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 16px 8%;
    transition: all .50 ease;
    box-sizing: border-box;
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(245, 0, 87, 1) 0%, rgba(134, 2, 49, 1) 100%);

}

.navv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px
}
.navv2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px
}

.li {
    list-style-type: none;
}

.li:hover {
    color: #5B0221;
}

.menu {
    z-index: 1001;
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: none;
}

.input {
    width: 65%;
    height: 100%;
    background-color: white;
    border: none;
    font-size: 14px;
    float: left;
    color: #373737;
    padding: 0 8px;
    outline: none;

}

.separatorSearch {
    width: 1px;
    height: 60%;
    background-color: #d9d9d9;

}

.input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
    -webkit-text-fill-color: #1b333d;
}

.containerNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: rgb(2, 0, 36);
}

.sectionSliderShowNav {
    display: none;
    
}

.title {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.titleNav {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.subtitle {
    font-size: 14px;
    font-weight: 600;
    color: white;

}

.subtitle:hover {
    color: #5B0221;
}

.containerItems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px
}

.newHeader {
    width: 70%;
    margin: 0 auto 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 0;
    transition: all .50 ease;
    box-sizing: border-box;
}

.newSubtitle {
    font-size: 14px;
    font-weight: 500;
    color: #626262;
}

.newSubtitle:hover {
    color: #5B0221;
}

.logo {
    width: 32px;
    height: 32px;
}

.talleres {
    position: relative;
    text-decoration: none;
}

.tooltip {
    position: absolute;
    top: 50px;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    color: #373737;
    padding: 32px;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
    font-size: 14px;
    font-weight: 600;
    list-style: none;
    box-sizing: border-box;
    column-count: 2;
    column-gap: 32px;
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.1);
}

.liCategory:hover {
    opacity: 0.7;
}

.textCategoriaTaller {
    font-size: 12px;
    color: #717171;
    font-weight: 600;
    white-space: nowrap
}

.textCategoriaTallerA {
    font-size: 12px;
    color: black;
    font-weight: 600;
    white-space: nowrap
}

.talleres:hover .tooltip {
    opacity: 1;
    visibility: visible;

}

.ulTipos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
}

.ulTipos li {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    margin-bottom: 24px;
    cursor: pointer;

}

.ulTipos li:hover {
    color: #969696
}

.ulTipos li:last-child {
    margin-bottom: 0;
    /* Elimina el margen inferior del último elemento */
}

@media (max-width: 1280px) {
    .header {
        transition: .2s;
    }

    .header2 {
        padding: 12px 6%;
        transition: .2s;
    }

    .newHeader {
        margin: 0 auto;
        width: 90%;

    }

    .li {
        margin-right: 8px;
    }
}

@media (max-width: 1090px) {

    .titleNav {
        display: none;
    }

    .tooltip {
        column-count: 2;
        column-gap: 16px;
        overflow-y: visible;

    }

    .separatorSearch {
        display: none;

    }

    .ulTipos li {
        gap: 14px;
        margin-bottom: 16px;

    }

    .menu {
        display: block;
        transition: all .50s ease;

    }

    /* .navv{
        position: absolute;
        top: 0%;
        right: 2%;
        width: 230px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 8px;
        transition: all .50s ease;
        background-color:#f50057 ;
    } */
    .li {
        margin: 0;
        list-style-type: none;
        display: block;
        padding: 0px;
    }

    .input {
        width: 100%;

    }
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.8s ease-in-out;
    z-index: 999;
    
}

@media (max-width:900px) {
    .navDiv {
        width: 90%;
    }

}

@media (max-width:800px) {
    .navv {
        display: none;
    }
  
    .header {
        flex-direction: column;
    }
    .sectionSliderShowNav {
        display: block;
        width: 100%;
        margin:0;
    }

    
    .navDiv{
        padding-bottom: 8px;
    }
}

@media (max-width: 600px) {
    .container {
        padding: 10px;

    }

    .navDiv {
        width: 95%;
    }

    .containerNav {
        padding: 10px;
    }

    .tooltip {
        column-gap: 8px;
        margin-bottom: 8px;
        padding: 16px;
        font-size: 12px;
        column-count: 1;
    }

    .ulTipos li {
        gap: 8px;
        margin-bottom: 14px;

    }

    .title {
        font-size: 24px;
    }


    .subtitle {
        font-size: 16px;
    }

    .header {
        width: 100%;
        
    }

    .input {
        font-size: 12px;
        height: 80%;

    }
}