.container {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 64px auto 96px auto;
  padding: 8px;
  box-sizing: border-box;
  gap: 32px;
}

.container2 {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 100px auto 96px auto;
  padding: 8px;
  box-sizing: border-box;
  gap: 32px;
}

.section1 {
  width: 100%;
}

.section2 {
  width: 0%;
}

.containerHeaderText {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.titleHeader {
  font-size: 24px;
  font-weight: 700;
  width: 60%;
  color: #373737;
}

.subtitleHeader {
  font-size: 14px;
  width: 40%;
  color: #373737;
  text-align: end;

}

.titleSections {
  font-size: 16px;
  font-weight: 700;
  margin-top: 24px;
}
.maps{
  max-width: 500px;
  height: 260px;
  width: 100%;
}
.containerCardLugar {
  display: flex;
  flex-direction: row;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 16px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 24px;
  gap: 16px;
  text-decoration: none;
  color: #373737;
}

.containerCardLugar:hover {
  border: 1px solid #5b0221;
}

.containerHeaderCalendario {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  gap: 16px;
  box-sizing: border-box;
  border: 1px solid #d6d6d6;
  margin: 0 auto;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  cursor: pointer;
  transition: transform 0.4s ease, background-color 0.2s ease;
  position: relative
}
.skeleton {
  width: 500;
  height: 300;
  background-color: #f0f0f0; /* Color de fondo del esqueleto */
  animation: loading 1s infinite; /* Animación de carga */
}

.editIcon {
  position: absolute;
  top: -16px;
  right: -16px;
  border-radius: 50%;
  /* Esto hace que el borde sea redondeado */
  background-color: #373737;
  /* Añade un fondo para el icono de edición */
  cursor: pointer;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.editIconDisabled {
  position: absolute;
  top: -16px;
  right: -16px;
  border-radius: 50%;
  /* Esto hace que el borde sea redondeado */
  border: 1px solid #373737;
  background-color: white;
  /* Añade un fondo para el icono de edición */
  cursor: pointer;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkIcon {
  position: absolute;
  top: -16px;
  right: -16px;
  border-radius: 50%;
  /* Esto hace que el borde sea redondeado */
  background-color: #373737;
  /* Añade un fondo para el icono de edición */
  cursor: pointer;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: transform 0.4s ease, background-color 0.2s ease;

}

.checkIcon:hover {
  border: 1px solid #14e04e;
  background-color: #4EDD76;
  color: white;
  /* Cambiar el color del texto en hover (blanco) */
}

.cancelIcon {
  position: absolute;
  top: -16px;
  right: 32px;
  border: 1px solid #373737;
  border-radius: 50%;
  /* Esto hace que el borde sea redondeado */
  cursor: pointer;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  transition: transform 0.4s ease, background-color 0.2s ease;

}

.cancelIcon:hover {
  background-color: #f50057;
  /* Cambiar el color de fondo en hover (un tono más claro de rojo) */
  border-color: #b20000;
  /* Cambiar el color del borde en hover (rojo) */
  color: white;
  /* Cambiar el color del texto en hover (blanco) */
}

.containerHeaderCalendario:active {
  transform: scale(0.95)
}

.containerCardPerfil {
  height: 500px;
  background-color: white;
  border: 1px solid #d6d6d6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  border-radius: 16px;
  width: 90%;
  max-width: 600px;
  justify-content: space-between;
  position: relative;
  transition: transform 0.4s ease, background-color 0.2s ease;

}

.containerCardPerfil:active {
  transform: scale(0.95)
}

.containerHeaderCalendario:hover {
  background-color: #fbfbfb;
}

.active {
  border: 1px solid #5c5c5c;
  box-shadow: 5px 5px 10px rgba(103, 103, 103, 0.2);
}

.titleLugar {
  font-size: 20px;
  font-weight: 700;
}

.subtitleLugar {
  font-size: 14px;
  font-weight: 600;
  color: #5B0221;
}

.cardCategoryLugar {
  height: 24px;
  border-radius: 4px;
  background-color: #EDEDED;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
}
.slider{
  width: 90%;
}
.slide{
  padding: 16px !important;;
  border:1px solid #c5c5c5!important;
  border-radius: 8px !important;;
  width: 98% !important;
  height: 100%  !important;
  text-decoration: none;
  color: #373737;
}
.textCategory {
  font-size: 16px;
  color: #373737;
}

.textCategoryMobile {
  font-size: 12px;
  color: #373737;
  display: none;
}

.containerCategory {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;

}

.imgPrincipalLugarDesktop {
  width: 128px;
  height: 128px;
  object-fit: cover;
  display: flex;
  font-size: 128px;
}

.imgPrincipalLugarMobile {
  width: 72px;
  height: 72px;
  object-fit: cover;
  font-size: 72px;
}

.containerBottomCard {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 16px;
  width: 100%;
}

.containerPrevComment {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.icons {
  font-size: 24px;
}

.containerHeaderCardMobile {
  display: none;
}

.containerHeaderCardDesktop {
  display: flex;
  flex-direction: column;
}

.headerNegocio {
  display: flex;
  flex-direction: row;
  gap: 16px
}

.headerNegocioText {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sectionOneNegocio {
  width: 70%;

}

.sectionTwoNegocio {
  width: 30%;

}

.sectionTwoNegocioFixed {
  width: 330px;
  position: fixed;
  right: 12%;
  top: 20%;
}

.sectionTwoUno {
  border: 1px solid #d9d9d9;
  padding: 16px;
  box-sizing: border-box;
  height: fit-content;
  margin-bottom: 16px;
}

.sectionTwoTwo {
  border: 1px solid #d9d9d9;
  padding: 16px;
  box-sizing: border-box;
  height: fit-content;
}

.titleNegocio {
  font-size: 40px;
  font-weight: 700;
  align-items: center;
  display: flex;
  gap: 8px;
  margin: 0;
  line-height: 48px;
}

.containerButtonsCA {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin: 16px 0;
}

.buttonPrimary {
  display: flex;
  background-color: #f50057;
  height: 48px;
  padding: 8px 16px;
  box-sizing: border-box;
  align-items: center;
  border: none;
  color: white;
  border-radius: 4px;
  gap: 8px;
  cursor: pointer;
}

.buttonPrimaryMobile {
  display: flex;
  background-color: #f50057;
  height: 48px;
  padding: 8px 16px;
  box-sizing: border-box;
  align-items: center;
  border: none;
  color: white;
  border-radius: 4px;
  gap: 8px;
  cursor: pointer;
  justify-content: center;
}

.buttonSecondary {
  display: flex;
  height: 48px;
  padding: 8px 16px;
  box-sizing: border-box;
  align-items: center;
  border: 1px solid #d9d9d9;
  color: #373737;
  border-radius: 4px;
  gap: 8px;
  background-color: white;
  cursor: pointer;

}

.buttonFixed {
  display: flex;
  background-color: #f50057;
  height: 48px;
  padding: 8px 16px;
  width: 80%;
  box-sizing: border-box;
  align-items: center;
  border: none;
  color: white;
  justify-content: center;
  border-radius: 4px;
  gap: 16px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 12px;
  max-width: 300px;

}

.buttonFixedBlack {
  display: flex;
  background-color: #373737;
  height: 48px;
  padding: 8px 16px;
  width: 80%;
  box-sizing: border-box;
  align-items: center;
  border: none;
  color: white;
  justify-content: center;
  border-radius: 4px;
  gap: 16px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 12px;
  flex: 1;
  transition: transform 0.4s ease, background-color 0.2s ease;

}

.buttonFixedBlack:hover {
  background-color: #5e5e5e;
  /* Cambiar el color de fondo en hover (un tono más claro de rojo) */
  border-color: #2c2c2c;
  /* Cambiar el color del borde en hover (rojo) */
}

.buttonFixedBlack:active {
  transform: scale(0.95)
}

.imgFotoPortada {
  width: 100%;
  /* La imagen ocupa el 100% del ancho del contenedor */
  max-width: 500px;
  /* Limita el ancho máximo de la imagen a 600px */
  height: 30vh;
  /* Establece la altura de la imagen al 30% de la altura del viewport */
  object-fit: cover;
  /* Mantiene la proporción de aspecto y cubre completamente el contenedor */
  margin: auto;
  margin-top: 10vh;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.8);

  /* Centra horizontalmente usando margen automático */
  display: block;
  /* Asegura que sea un bloque y no un elemento en línea */
}
.skeletonFoto {
  width: 100%;
  max-width: 500px;
  margin-top: 10vh;
  height: 30vh;
  margin: auto;
  background-color: #f0f0f0; /* Color de fondo del esqueleto */
  animation: loading 1s infinite; /* Animación de carga */
}
@keyframes loading {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}
.imgFotoRegister {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
}

.divFixed {
  display: flex;
  position: fixed;
  bottom: 5vh;
  width: 90%;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  gap: 16px;
  max-width: 400px;

}

.skeleton {
  width: 100%;
  height: 44px;
  border-radius: 10px;
  background-color: #e0e0e0;
  /* Color del esqueleto */
  animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
  to {
    background-color: #f0f0f0;
    /* Color alternativo del esqueleto */
  }
}

.buttonFixed2 {
  display: flex;
  background-color: #f50057;
  height: 48px;
  width: 48px;
  box-sizing: border-box;
  align-items: center;
  border: none;
  color: white;
  justify-content: center;
  border-radius: 4px;
  gap: 16px;
  cursor: pointer;
  border-radius: 12px;

}

.buttonFixedBlack2 {
  display: flex;
  background-color: white;
  height: 48px;
  width: 48px;
  box-sizing: border-box;
  align-items: center;
  border: 1px solid black;
  color: white;
  justify-content: center;
  border-radius: 4px;
  gap: 16px;
  cursor: pointer;
  border-radius: 12px;
  transition: transform 0.4s ease, background-color 0.2s ease;

}

.buttonFixedBlack2:hover {
  background-color: #f1f1f1;
  /* Cambiar el color de fondo en hover (un tono más claro de rojo) */
  border-color: #2c2c2c;
}

.buttonFixedBlack2:active {
  transform: scale(0.95)
}

.buttonPrimary:hover {
  background-color: #dc014d;
}

.buttonSecondary:hover {
  background-color: #ffefef;
  border: 1px solid #5b0221;
}

.containerButtonsMobile {
  display: none;

}

.containerButtonMobile:hover {
  background-color: #ffefef;
}

.containerButtonMobile {
  padding: 8px;
  border-radius: 8px;
}

.containerHorariosUbicacion {
  display: flex;
  gap: 32px;
  margin: 16px 0;
  flex-direction: row;
}

.containerHorarios {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 16px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 999;
}

.containerFiltersBasic {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.containerVendedor {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  width: 70%;
  margin: 100px auto 96px auto;
  padding: 8px;
  box-sizing: border-box;
  gap: 32px;
}

.input {
  width: 100%;
  border: #c0c0c0 solid 1px;
  border-radius: 8px;
  margin: 8px 0;
  padding: 16px;
  box-sizing: border-box;
}

.input:hover {
  border: #5f5f5f solid 1px;

}

.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
  -webkit-text-fill-color: #1b333d;
}

.inputsAddInfo {
  border: none;
  outline: none;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 10px;
  height: 50px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

.inputsAddInfo:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
  -webkit-text-fill-color: #1b333d;
}

.imgRegisterTaller {
  object-fit: contain;
  width: 50%;
  height: 50%;
}

.containerFormTaller {
  display: flex;
  margin: 0 auto;
  border: 1px solid #d9d9d9;
  flex-direction: column;
  width: 100%;
  padding: 32px 16px;
  box-sizing: border-box;
}

.containerMobile {
  flex-direction: column;
  gap: 4vh;
  margin: 0 auto;
  margin-bottom: 48px;
  align-items: center;
  width: 500px;
  justify-content: center;
  display: flex;
}

@media (max-width:1380px) {
  .sectionTwoNegocioFixed {
    width: 300px;
    right: 8%;
  }
}

@media (max-width:1200px) {
  .container {
    width: 90%;
    margin-top: 96px;
  }

  .container2 {
    width: 90%;
    margin-top: 96px;
  }

  .titleNegocio {
    font-size: 32px;
    line-height: 36px;
  }

  .sectionTwoNegocioFixed {
    width: 280px;
    right: 6%;
  }

  .containerVendedor {
    width: 90%;
    margin-top: 96px;
    flex-direction: column;
  }

  .imgRegisterTaller {
    width: 100%;
    height: 100%;
  }
}

@media (max-width:1080px) {
  .sectionTwoNegocioFixed {
    width: 250px;
    right: 3%;
  }

}

@media (max-width:900px) {
  .sectionTwoNegocioFixed {
    display: none;
  }

  .containerHorariosUbicacion {
    width: 100%;
  }

  .titleNegocio {
    font-size: 24px;
    line-height: 26px;
  }

  .buttonPrimaryMobile {
    display: flex
  }

  .sectionTwoNegocio {
    display: none;
  }

  .containerButtonsMobile {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0;
    cursor: pointer;
  }

  .containerButtonsCA {
    display: none;
  }

  .containerButtonMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .sectionOneNegocio {
    width: 100%;
  }

  .containerHeaderText {
    flex-direction: column;
    align-items: flex-start;
  }

  .titleHeader {
    width: 100%;
    font-size: 20px;
  }

  .titleLugar {
    font-size: 18px;
  }

  .subtitleLugar {
    font-size: 12px;
  }

  .textCategory {
    font-size: 14px;
    white-space: nowrap;
  }

  .icons {
    font-size: 16px;
  }


}

@media (max-width:600px) {
  .container {
    width: 100%;
    margin-top: 80px;
    display: none
  }
  .maps{
    width: 90%;
  }
  .containerMobile {
    width: 100%;
    gap:16px
    /* background-color: #fbfbfb; */

  }

  .containerVendedor {
    width: 95%;
    margin-top: 72px;
  }

  .containerHorariosUbicacion {
    flex-direction: column;
  }

  .container2 {
    width: 100%;
    margin-top: 80px;
  }

  .titleNegocio {
    font-size: 20px;
    line-height: 24px;
  }

  .titleHeader {
    font-size: 16px;
  }

  .titleLugar {
    font-size: 16px;
  }

  .containerCardLugar {
    flex-direction: column;
    gap: 4px;
  }

  .containerHeaderCardDesktop {
    display: none;
  }

  .containerHeaderCalendario {
    width: 90%;
  }

  .containerHeaderCardMobile {
    display: flex;
    width: 100%;
    gap: 16px;
  }

  .imgPrincipalLugarDesktop {
    display: none;
  }

  .imgPrincipalLugarMobile {
    display: flex;
  }

  .headerNegocio {
    flex-direction: column;
    gap: 8px;
  }

  .textCategoryMobile {
    display: flex;
    font-size: 12px;
  }
  .imgFotoPortada{
    margin-top: 0;
    box-shadow: none;
    border-radius: 0;
  }
  .skeletonFoto{
    margin-top: 0;

  }
}